test.ppm
RayTracer1.ppm
ObjectList.h
Debug/
Release/
BVH.h
.vs/
doxygen.exe
doxyindexer.exe
doxysearch.cgi.exe
config
libclang.dll
boxslide1.png
boxslide2.png
boxslide3.png
3d-cube-transparent-png-4.png
