test.ppm
RayTracer1.ppm
ObjectList.h
Debug/
Release/
ConsoleApplication10.vcxproj
ConsoleApplication10.vcxproj.filters
ConsoleApplication10.vcxproj.user
BVH.h
.vs/
doxygen.exe
doxyindexer.exe
doxysearch.cgi.exe
config
libclang.dll
