
test.ppm
RayTracer1.ppm
ObjectList.h
Debug/vc141.pdb
Debug/vc141.idb
Debug/source.obj.enc
Debug/Source.obj
Debug/ConsoleApplication10.log
Debug/ConsoleApplication10.Build.CppClean.log
Debug/ConsoleA.A192989C.tlog/link.write.1.tlog
Debug/ConsoleA.A192989C.tlog/link.read.1.tlog
Debug/ConsoleA.A192989C.tlog/link.command.1.tlog
Debug/ConsoleA.A192989C.tlog/ConsoleApplication10.lastbuildstate
Debug/ConsoleA.A192989C.tlog/CL.write.1.tlog
Debug/ConsoleA.A192989C.tlog/CL.read.1.tlog
Debug/ConsoleA.A192989C.tlog/CL.command.1.tlog
ConsoleApplication10.vcxproj
ConsoleApplication10.vcxproj.filters
ConsoleApplication10.vcxproj.user
BVH.h
